@{
    ViewData["Title"] = "Home";
}

<div class="container main-container">
    <br />
    <h4>Atenção!</h4>
    <br />
    <p>
        Essa é uma aplicação web em ASP.NET core, utilizando Identity para registro e autenticação.<br />
        O propósito desta aplicação é APENAS demonstrar isso, simples assim...sem miMimi.
    </p>
    <br />
    <p>Para que teste está aplicação você deverá: </p>
    <ul>
        <li>Ajustar o arquivo appsettings.json para seu banco de dados</li>
        <li>Rode em seu Package Manager Console: Update-Database para gerar a Base com as tabelas do Identity</li>
    </ul>
</div>